<nav>
  <ul class="mt-1">
    <li>
      <a routerLink="/" routerLinkActive="active">
        <!-- <i class="fas fa-home mx-3"></i> -->
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/wallet" routerLinkActive="active">
        <!-- <i class="fas fa-wallet mx-3"></i> -->
        <span>Wallet</span>
      </a>
    </li>
    <li>
      <a routerLink="/content" routerLinkActive="active">
        <!-- <i class="fas fa-wallet mx-3"></i> -->
        <span>My Sounds</span>
      </a>
    </li>
  </ul>
</nav>