<!--Logged-->
<button *ngIf="auth.user && auth.user.logged" mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-label="User">account_circle</mat-icon>
    <span [innerHtml]="auth.user.userName"></span>
</button>
<mat-menu class="mt-5" #menu="matMenu">
    <button mat-menu-item (click)="auth.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>

<!--Not Logged-->
<button *ngIf="!auth.user || !auth.user.logged" mat-icon-button routerLink="/login">
    <mat-icon aria-label="User">account_circle</mat-icon>
    <!-- <span>Hello World</span> -->
</button>