@import "src/assets/scss/base"; //Bootstrap & Custom Variables

.app-container {
  height: calc(100vh - 64px);

  @media (max-width: 600px) {
    height: calc(100vh - 56px);
  }

  mat-sidenav {
    background-color: #2b303b;
  }

  .app-sidenav {
    width: 240px;
    z-index: 3;
  }
}