<div id="dashboard" class="page-layout carded fullwidth">
  <div class="top-bg mat-deep-purple-bg"></div>
  <div class="center">
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>My Sounds</h2>

      <button mat-raised-button class="mat-white-bg mt-16 mt-sm-0" [routerLink]="'/content-post'">
        <span>POST CONTENT</span>
      </button>

    </div>




    <div class="content-card mat-white-bg mb-5">
      <!-- <div class="container"> -->
        <mat-card>
          <mat-card-content>
            <div>
              <div class="col-12 mb-2">

                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>

                <mat-table #contentTable [dataSource]="dataSourceContent" matSort>

                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header mdSortStart="title">Title</th>
                    <mat-cell *matCellDef="let content">
                      <span [innerHtml]="content.title"></span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="url">
                    <th mat-header-cell *matHeaderCellDef>URL</th>
                    <mat-cell *matCellDef="let content">
                      <span [innerHtml]="content.url"></span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="timesplayed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header mdSortStart="timesplayed">Times Played</th>
                    <mat-cell *matCellDef="let content">
                      <span [innerHtml]="content.timesplayed"></span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="uploaded">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header mdSortStart="uploaded">Uploaded</th>
                    <mat-cell *matCellDef="let content">
                      <span [innerHtml]="content.uploaded | date:'medium'"></span>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsContent"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsContent;"></mat-row>

                </mat-table>

                <mat-paginator #paginatorContent [pageSize]="25" [pageSizeOptions]="[25, 50, 100]"
                  [showFirstLastButtons]="true">
                </mat-paginator>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    <!-- </div> -->
  </div>
</div>