<div class="container">
  <div class="row mt-4">
    <mat-card>
      <mat-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <h1>Welcome to the SOUNDAC Demo Portal. </h1>
              <h3>
                THIS APPLICATION IS FOR DEMONSTRATION PURPOSES ONLY - THIS IS A SIMPLE SOUNDAC DEMO APPLICATION TO USE
                LOCALLY AS A GUIDE FOR DEVELOPING APPLICATION ON-TOP OF SOUNDAC. IT HASN'T BEEN REVIEWED FOR SECURITY
                ISSUES. DON'T USE IT FOR PRODUCTION!
              </h3>

              <p>
                The SOUNDAC Portal demo project is a standard SOUNDAC project with limited functionality. It is designed
                for developers to see how to build applications that interact with SOUNDAC. Features such as creating
                new accounts, logging in, submitting content to SOUNDAC, transferring funds to and from a SOUNDAC
                wallet, VIP features are functioning. It’s a great way to interact with real
                data from SOUNDAC and explore some of the features it offers.

                By accessing this Application, you acknowledge and agree to be bound by the Disclaimer below. If you do
                not agree to the Disclaimer, please do not use this Application. Your use of the Application constitutes
                your agreement to the Disclaimer.
              </p>

              <h4>
                This is a Demo Release of the SOUNDAC Rights Management Portal designed to showcase some of the
                functionality available on SOUNDAC. We have done our best to ensure the accuracy of the
                functionality and data presented in this Demo Application. Any information presented by the application
                is offered with the assumption that you understand the application may be
                erroneous.
              </h4>
              <h4>
                If you proceed with usage of the Alpha RMP Application, we would like to thank you for exploring our
                Demo application. Your feedback will help us greatly improve the quality of the Rights Management
                Portal.
              </h4>
              <h2>
                NOTICE: We do not provide technical support for this Demo version of the SOUNDAC Portal.
              </h2>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>